<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDn0aYEDko9dlzppSA0GEaTMolQVqbCnfc</string>
	<key>GCM_SENDER_ID</key>
	<string>736620885235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailyDo</string>
	<key>PROJECT_ID</key>
	<string>daily-do-f5bdf</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-do-f5bdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736620885235:ios:b6ec869b82f08722b6f386</string>
</dict>
</plist>